<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.discogsMusicCollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myapplication"
        tools:targetApi="31">
        <activity
            android:name="com.example.discogsMusicCollection.ResultsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.CollectionActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.discogsMusicCollection.FirebaseLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>